.catalog-page {
  width: 100%;
  height: calc(100vh - 64px); /* header balandligi */
  
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 0px 0px 40px 0px;

  overflow-y: auto;
  box-sizing: border-box;
}

/* scrollbar hide */

.catalog-page::-webkit-scrollbar {
  display: none;
}

.catalog-page {
  scrollbar-width: none;
  -ms-overflow-style: none;
}