.login-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #190926; /* rasmga yaqin to‘q binafsha */
}

.login-card {
  width: 700px;
  background: #D9D9D912;
  padding: 76px 97px;
  border-radius: 16px;
}

.login-title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 6px;
}

.login-subtitle {
  color: #79747E;
  font-size: 20px;
  margin-bottom: 35px;
}

.input-group {
  margin-bottom: 26px;
}

.input-group label {
  display: block;
  margin-bottom: 7px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  font-family: "Semi Bold";
}

.input-group input {
  width: 100%;
  padding: 19px 21px;
  border-radius: 15px;
  border: 3px solid #5e2d91;
  background: #772EAB69;
  color: white;
  outline: none;
  transition: all 0.2s ease;
}

.input-group input::placeholder {
  color: #79747E;
}

.input-group input:focus {
  border-color: #772EAB69;
  box-shadow: 0 0 0 2px rgba(139, 92, 246, 0.2);
}

.login-btn {
  width: 100%;
  margin-top: 57px;
  padding: 13px;
  border: none;
  border-radius: 15px;
  background: #772EAB;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.login-btn:hover {
  background: #5e2d91;
}
