.login-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  /* GLOBAL BACKGROUND bilan bir xil */
  background: linear-gradient(0deg, #130C1C, #130C1C),
              radial-gradient(203.54% 103.16% at 50% 0%, rgba(139, 92, 246, 0.15) 0%, rgba(139, 92, 246, 0) 70%);
}

.login-card {
  width: 700px;
  background: rgba(255, 255, 255, 0.04);
  padding: 76px 97px;
  border-radius: 20px;

  /* glass effekt */
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.06);
}

.login-title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 6px;
}

.login-subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  margin-bottom: 35px;
}

.input-group {
  margin-bottom: 26px;
}

.input-group label {
  display: block;
  margin-bottom: 7px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.input-group input {
  width: 100%;
  padding: 16px 18px;
  border-radius: 14px;

  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.045);
  color: #ffffff;

  outline: none;
  transition: all 0.2s ease;
}

.input-group input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.input-group input:focus {
  border-color: #8B3DFF;
  box-shadow: 0 0 0 4px rgba(139, 61, 255, 0.15);
}

.login-btn {
  width: 100%;
  margin-top: 50px;
  padding: 14px;
  border: none;
  border-radius: 14px;

  background: #8B3DFF;
  color: #fff;

  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.login-btn:hover {
  background: #7A2CF0;
}