.categories-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.category-card {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}